* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Inizio gestione header pagina*/
#header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #c40801;
    color: #fff;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* transform: translateY(-100%); */
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    flex-direction: column;
}

#header.hidden {
    transform: translateY(-100%);
}

#header.visible {
    transform: translateY(0);
}

#logo-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#header_left {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

#header_center {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

#header_right {
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
}

#pagesix {
    display: flex;
    width: 200px;
    height: 50px;
}

#logo {
    width: 350px;
    height: 60px;
    margin-left: 20px;
}

#lenteingrandimento {
    width: 30px;
    height: 30px;
    margin-inline: 20px;
    cursor: pointer;
}

#newsletter {
    width: 35px;
    height: 30px;
    height: 30px;
}

#datahead {
    display: flex;
    flex-direction: column;
    background-color: black;
    text-align: center;
}

#datahead.hidden {
    transform: translateY(-100%);
}

#datahead.visible {
    transform: translateY(0);
}

#menutendina {
    cursor: pointer;
}

#menutendina1 {
    cursor: pointer;
    display: none;
}

#menutendinaopen {
    position: fixed;
    top: 120px;
    left: 10%;
    background-color: white;
    border: 1px solid lightgray;
    width: 300px;
    height: 100%;
    overflow-y: scroll;
    display: none;
    max-height: 800px;
}

.vocimenu {
    display: block;
    margin: 10px 0;
    padding: 5px;
    color: black;
    font-size: 20px;
    line-height: 1.2;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bolder;
}

.vocimenu1 {
    display: block;
    margin: 10px 0;
    padding: 5px;
    color: black;
    font-size: 20px;
    line-height: 1.2;
    padding-left: 20px;
    text-decoration: none;
    font-weight: bolder;
    border-bottom: 1px solid lightgray
}

.vocimenu2 {
    display: block;
    margin: 10px 0;
    padding: 5px;
    color: #575757;
    font-size: 20px;
    line-height: 1.2;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bolder;
}

.vocimenu3 {
    display: block;
    margin: 10px 0;
    padding: 5px;
    margin-bottom: 50px;
    color: #575757;
    font-size: 20px;
    line-height: 1.2;
    padding-left: 20px;
    text-decoration: none;
    font-weight: bolder;
}



/* Fine gestione header pagina*/

/*Dimensioni totali pagina e spazi laterali*/
#tutto {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

/* Stile del contenitore principale */
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    width: 100%;
}

body {
    width: 100%;
}

/*Pubblicià orizzontali*/
.pubblicitaorizzontali {
    width: 100%;
}

#linearossafooter {
    width: 100%;
}


/* Footer */
footer {
    font-size: 14px;
    padding-inline: 30px;
}

.footer-precontainer {
    margin-inline: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.social_footer {
    width: 4%;
    margin-left: 1%;
}


/* Footer Container */
.footer-container {
    max-width: 1200px;
    margin-inline: 20%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Footer Column */
.footer-column {
    flex-basis: calc(25% - 20px);
    margin-bottom: 20px;
}

/* Footer Logo */
.footer-logo {
    display: block;
    margin-bottom: 20px;
}

.footer-logo img {
    max-width: 100%;
}

/* Footer Heading */
.footer-heading {
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Footer Links */
.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links a {
    color: dimgray;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Footer Social */
.footer-social {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-social li {
    display: inline-block;
    margin-right: 10px;
}

.footer-social a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.footer-social a:hover {
    transform: scale(1.2);
}


.footer-button {
    display: inline-block;
    padding: 10px 20px;
    color: #333;
    background-color: cadetblue;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
}

/* Footer Address */
.footer-address {
    margin-bottom: 10px;
    line-height: 1.5;
}

/* Footer Disclaimer */
.footer-disclaimer {
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid lightgray;
}

.footer-disclaimer p {
    margin: 0;
    padding: 5px 0;
}

.footer-disclaimer a {
    color: #fff;
    text-decoration: none;
}

.footer-disclaimer a:hover {
    text-decoration: underline;
}

/* Footer Terms */
.footer-terms {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-terms li {
    display: inline-block;
    margin-right: 10px;
}

.footer-terms a {
    color: black;
    text-decoration: none;
}

.footer-terms a:hover {
    text-decoration: underline;
}

#social_footeryt {
    width: 6%;
}


.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f6f6f6;
    padding: 20px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.cookie-banner p {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

.cookie-banner a {
    color: #cb3236;
    text-decoration: none;
}

.cookie-buttons {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#accept-cookies {
    background-color: #cb3236;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

#decline-cookies {
    background-color: transparent;
    color: #666;
    font-size: 14px;
    padding: 10px 20px;
    border: 1px solid #666;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .cookie-banner p {
        font-size: 12px;
    }
}
/* Barra di ricerca */
#search-bar {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    border: 1px solid #E0E0E0;
    border-radius: 25px;
    padding: 10px 15px;
    width: 49%;
    margin: 0 auto;
}

#search-bar input[type="text"] {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 49%;
}

#search-bar input[type="text"]::placeholder {
    color: #C0C0C0;
}

#search-bar button {
    width: 49%;
    border: none;
    background-color: #cb3236;
    cursor: pointer;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    color: #fff;
}

#search-bar button:focus {
    outline: none;
}

#search-bar button:hover {
    opacity: 0.8;
}





























/* Mediaquery per rimpicciolimento testo e altro */

@media screen and (max-width: 1033px) {
    .right-column {
        display: none;
    }

    .left-column {
        margin: 0 auto;
        width: 90%;
    }

    #pagesix {
        display: none;
    }

    #newsletter {
        display: none;
    }

    #lenteingrandimento {
        display: none;
    }

    main div section {
        font-size: 20px;
    }

    #titologranderosso {
        font-size: 45px;
    }

    #titologranderosso {
        font-size: 35px;
    }

    p.testoupbigarticle {
        font-size: 20px;
    }

    .footer-container {
        display: none;
    }

    #menutendinaopen {
        top: 120px;
        display: none;
    }

    .testoupbigarticleBLACK {
        font-size: 25px;
    }

    .testoupbigarticleRED {
        font-size: 25px;
    }

    .testobottombigarticle {
        font-size: 15px;
    }
}

@media screen and (max-width: 1000px) {
    #titologranderosso {
        padding-top: 0px;
    }

    #menutendinaopen {
        position: fixed;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0px;
        width: 100%;
        height: 90%;
        overflow-y: scroll;
        display: none;
        z-index: 9999;
    }

    #menutendinaopen.show {
        display: block;
    }

    .caption_orizzontale {
        font-size: 10px;
    }
    #menutendina {
        display: none;
    }
    #menutendina1 {
        display: block;
    }
    #datahead{
        display: none;
    }
}

