* {
    margin: 0;
    padding: 0;
}

/* Inizio gestione header pagina*/
#header{
    position: fixed;
    width: 100%;
    background-color: #c40801;
    color: #fff;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* transform: translateY(-100%); */
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

#header.hidden {
    transform: translateY(-100%);
}
#header.visible {
    transform: translateY(0);
}

/*Sezione con data odierna*/
#datahead {
    background-color: black;
    color: white;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
#data{

}
#lenteingrandimento {
    width: 1.5%;
    position: absolute;
    top: 30px;
    left: calc(50% - 550px);
    cursor: pointer;
}

#newsletter {
    width: 2%;
    position: absolute;
    top: 30px;
    left: calc(50% - 500px);
    cursor: pointer;
}
/*Logo new york post*/
#logo {
    width: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    cursor: pointer;
}
/*Logo pagesix*/
#pagesix {
    width: 11%;
    position: absolute;
    top: 20px;
    right: calc(50% - 600px);
    cursor: pointer;
}


/* Fine gestione header pagina*/

/*Dimensioni totali pagina e spazi laterali*/
#tutto {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

/* Stile del contenitore principale */
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    width: 100%;
}
body{
    width: 100%;
}
/*Pubblicià orizzontali*/
.pubblicitaorizzontali{
    width: 100%;
}

#linearossafooter{
    width: 100%;
}


/* Footer */
footer {
    font-size: 14px;
    padding-inline: 30px;
}
.footer-precontainer {
    margin-inline: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.social_footer{
    width: 4%;
    margin-left: 1%;
}


/* Footer Container */
.footer-container {
    max-width: 1200px;
    margin-inline: 20%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Footer Column */
.footer-column {
    flex-basis: calc(25% - 20px);
    margin-bottom: 20px;
}

/* Footer Logo */
.footer-logo {
    display: block;
    margin-bottom: 20px;
}

.footer-logo img {
    max-width: 100%;
}

/* Footer Heading */
.footer-heading {
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Footer Links */
.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links a {
    color: dimgray;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Footer Social */
.footer-social {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-social li {
    display: inline-block;
    margin-right: 10px;
}

.footer-social a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.footer-social a:hover {
    transform: scale(1.2);
}

/* Footer Button */
.footer-button {
    display: inline-block;
    padding: 10px 20px;
    color: #333;
    background-color: cadetblue;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
}

/* Footer Address */
.footer-address {
    margin-bottom: 10px;
    line-height: 1.5;
}

/* Footer Disclaimer */
.footer-disclaimer {
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid lightgray;
}

.footer-disclaimer p {
    margin: 0;
    padding: 5px 0;
}

.footer-disclaimer a {
    color: #fff;
    text-decoration: none;
}

.footer-disclaimer a:hover {
    text-decoration: underline;
}

/* Footer Terms */
.footer-terms {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-terms li {
    display: inline-block;
    margin-right: 10px;
}

.footer-terms a {
    color: black;
    text-decoration: none;
}

.footer-terms a:hover {
    text-decoration: underline;
}
#social_footeryt{
    width: 6%;
}









#menutendina {
    position: absolute;
    top: 22px;
    left: calc(50% - 700px);
    cursor: pointer;
}
#menutendina1 {
    position: absolute;
    top: 20%;
    left: 10px;
    cursor: pointer;
    display: none;
}
#menutendinaopen{
    position: absolute;
    top: 120px;
    left: calc(50% - 700px);
    background-color: white;
    border: 1px solid lightgray;
    width: 300px;
    height: 100%;
    overflow-y: scroll;
}
.vocimenu{
    display: block;
    margin: 10px 0;
    padding: 5px;
    color: black;
    font-size: 20px;
    line-height: 1.2;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bolder;
}
.vocimenu1{
    display: block;
    margin: 10px 0;
    padding: 5px;
    color: black;
    font-size: 20px;
    line-height: 1.2;
    padding-left: 20px;
    text-decoration: none;
    font-weight: bolder;
    border-bottom: 1px solid lightgray
}
.vocimenu2{
    display: block;
    margin: 10px 0;
    padding: 5px;
    color: #575757;
    font-size: 20px;
    line-height: 1.2;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bolder;
}
.vocimenu3{
    display: block;
    margin: 10px 0;
    padding: 5px;
    color: black;
    font-size: 20px;
    line-height: 1.2;
    padding-left: 20px;
    text-decoration: none;
    font-weight: bolder;
    border-bottom: 30px solid lightgray
}
/**/















/* Mediaquery per rimpicciolimento testo e altro */
@media screen and (max-width: 1250px) {
    #pagesix {
        display: none;
    }
    #newsletter {
        display: none;
    }
    #lenteingrandimento {
        display: none;
    }
    main div section {
        font-size: 30px;
    }
    #titologranderosso {
        font-size: 45px;
    }
}
@media screen and (max-width: 800px) {
    .right-column {
        display: none;
    }
    main div section {
        font-size: 20px;
    }
    #titologranderosso {
        font-size: 35px;
    }
    p.testoupbigarticle{
        font-size: 20px;
    }
    .footer-container{
        display: none;
    }
    #datahead{
        display: none;
    }
    #menutendinaopen{
        top: 70px;
    }
}

@media screen and (max-width: 1420px) {
    #menutendina{
        display: none;
    }
    #menutendina1{
        display: block;
    }
    #menutendinaopen{
        left: 10px;
    }
}