*{
    margin: 0;
    padding: 0;
}


/* Inizio gestione header pagina*/
header {
    background-color: #c40801;
    color: #fff;
    padding: 20px;
}
header div ul {
    list-style: none;
    display: flex;
}
header div ul li{
    padding: 3px;
}
#lenteingrandimento{
    width: 1.5%;
    height: 1.5%;
}
#newsletter{
    width: 2%;
}
#logo {
    width: 20%;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
#pagesix {
    width: 11%;
    position: absolute;
    top: 20px;
    right: 350px;
}
#data {
    background-color: black;
    color: white;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
/* Fine gestione header pagina*/

/*Dimensioni totali pagina e spazi laterali*/
#tutto{
    max-width: 1280px;
    margin: 0 auto;
}

/* Stile del contenitore principale */
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}
/* Colonna a sinistra */
.left-column {
    margin-right: 50px;
    margin-left: 50px;
}
/* Colonne a destra */
.right-column {
    margin-bottom: 10%;
}
.right-column section{
    border: 5px solid gray;
    margin-bottom: 10%;
    font-weight: bold;
}
/* Pubblicità colonna di destra */
#pubblicita_colonna_destra{
    margin-left: 27px;
    height: 581px;
    width: 295px;
    border: 1px solid black;
}

/* Trending Now */
span{
    background-color: white;
    color: black;
    display: flex;
    text-align: left;
    padding-left: 5%;
    font-weight: bold;
    margin-top: 5%;
    font-size: 25px;
    font-style: italic; /* Mette il testo in corsivo */
}


/* Articoli colonna di destra */
main div section article {
    padding-inline: 25px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    justify-content: center;
}
/* Testo sopra foto grande colonna sinistra */
#titologranderosso {
    color: #c40801;
    text-align: center;
    font-size: 60px;
}
/* Foto grande */
.fotogrande{
    width: 90%;
}
/* Testo grande sotto foto grande colonna sinistra */
main div section{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
/* Testo piccolo sotto testo grande sotto foto grande colonna sinistra */
main div section div{
    margin-top: 2%;
    font-size: 15px;
    text-align: left;
    color: gray;
}
/* Foto piccole colonna di destra */
.fotopiccola{
    width: 90%;
}

.fotosottotrendingnow{
    width: 225px;
    height: 10px;
    margin-bottom: 5%;
}
/* Container articoli piccoli sotto articolo grande */
.container_orizzontale {
    display: flex;
    margin-top: 15px;
    padding-bottom: 15px ;
    padding-top: 15px ;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}
/* Singoli articoli piccoli sotto articolo grande */
.article_small {
    padding-right: 5px;
    padding-left: 20px;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.article_small:last-child {
    margin-right: 0px;
}
.caption {
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    font-weight:bold ;
}
body{
    margin: 0 auto;
}

/* Mediaquery per rimpicciolimento testo e altro */
@media screen and (max-width: 900px) {
    #logo {
        margin: 0 auto;
    }
    #pagesix {
        display: none;
    }
    .right-column {
        display: none;
    }
    main div section{
        font-size: 20px;
    }
    #titologranderosso{
        font-size: 35px;
    }
}

/* PADDING -< BORDER -< MARGIN */
