*{
    margin: 0;
    padding: 0;
}
/* Colonna a sinistra */
.left-column {
    margin-right: 50px;
    margin-left: 50px;
}
/* Testo sopra foto grande colonna sinistra */
#titologranderosso {
    color: #c40801;
    text-align: center;
    font-size: 60px;
}
/* Foto grande */
.fotogrande{
    width: 90%;
}
/* Testo grande sotto foto grande colonna sinistra */
main div section{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
/* Testo piccolo sotto testo grande sotto foto grande colonna sinistra */
main div section div{
    margin-top: 2%;
    font-size: 15px;
    text-align: left;
    color: gray;
}
/* Foto piccole colonna di destra */
.fotopiccola{
    width: 90%;
}
/* Container articoli piccoli sotto articolo grande */
.container_orizzontale {
    display: flex;
    margin-top: 15px;
    padding-bottom: 15px ;
    padding-top: 15px ;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}
/* Singoli articoli piccoli sotto articolo grande */
.article_small {
    padding-right: 5px;
    padding-left: 20px;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.article_small:last-child {
    margin-right: 0px;
}
.caption {
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    font-weight:bold ;
}
body{
    margin: 0 auto;
}
/* Pubblicità sotto articoli piccoli colonna di sinistra */
.ADVERTISEMENT {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 21px;
    border-bottom: 1px solid lightgray;
}
/* Stile del contenitore 1 */
.container1 {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    border-bottom: 1px solid lightgray;
}
/* Colonne del container1*/
.left-column1 {
    margin-right: 50px;
    margin-left: 50px;
}
/*Testo sopra foto grande*/
.testoupbigarticle{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #c40800;
}
/*Testo sotto foto grande*/
.testobottombigarticle{
    font-size: 20px;
    margin-bottom: 20px;
    color: #575757;
}
/*testo sotto foto piccole*/
.testosmallarticle{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.right-column1 {
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}
/* Foto per articoli piccoli */
.small_article0{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
.small_article1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    border-top: 1px solid lightgray;
}




