*{
    margin: 0;
    padding: 0;
}
/* Colonne a destra */
.right-column {
    margin-bottom: 10%;
}
.right-column section{
    border: 1px solid lightgray;
    margin-bottom: 10%;
    font-weight: bold;
}
/* Pubblicità colonna di destra */
#pubblicita_colonna_destra{
    margin-left: 25px;
    height: 581px;
    width: 295px;
    border: 1px solid black;
}

/* Trending Now */
span{
    background-color: white;
    color: black;
    display: flex;
    text-align: left;
    padding-left: 5%;
    font-weight: bold;
    margin-top: 5%;
    font-size: 25px;
    font-style: italic; /* Mette il testo in corsivo */
}


/* Articoli colonna di destra */
main div section article {
    padding-left: 30px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    justify-content: center;
}
.fotosottotrendingnow{
    width: 225px;
    height: 10px;
    margin-bottom: 5%;
}
/*Pubblicità con loghi social*/
.social-icons {
    margin-top: 30px;
    display: flex;
    padding: 10px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    align-items: center;
    justify-content: center;
}
.social-icons p {
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #c40800;
    padding-right: 10px;
}
.social-icons a {
    margin-right: 5px;

}
.social-icons img {
    width: 30px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}



.social-icons img:hover {
    transform: scale(1.2);
}
