* {
    margin: 0;
    padding: 0;
}

/* Colonna a sinistra */
.left-column {
    margin-right: 50px;
    margin-left: 50px;
    width: 70%;
}

/* Testo sopra foto grande colonna sinistra */
#titologranderosso {
    color: #c40801;
    text-align: center;
    font-size: 60px;
}

/* Foto grande */
.fotogrande {
    width: 90%;
}

/* Testo grande sotto foto grande colonna sinistra */
main div section {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    justify-content: center;
}

/* Testo piccolo sotto testo grande, sotto foto grande colonna sinistra */
main div section div {
    margin-top: 2%;
    font-size: 15px;
    text-align: left;
    color: gray;
    justify-content: left;
}


/*Foto grande container1*/
.fotogrande1{
    width: 100%;
}
/*Foto piccola container1*/
.fotopiccola1 {
    width: 100%;
}

/* Container articoli piccoli sotto articolo grande */
.container_orizzontale {
    display: flex;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

/* Sezione singoli articoli piccoli sotto articolo grande */
.article_small {
    padding-right: 5px;
    padding-left: 20px;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.article_small:last-child {
    margin-right: 0px;
}
/*Scritta sotto foto in sezione a 3 orizzontale*/
.caption {
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    justify-content: left;
}

body {
    margin: 0 auto;
}

/* Pubblicità sotto articoli piccoli colonna di sinistra */
.ADVERTISEMENT {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 21px;
    border-bottom: 1px solid lightgray;
}

/* Stile del contenitore 1 (sezione a 3 grande) */
.container1 {
    display: flex;
    margin-top: 1%;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

/* Colonne del container1*/
.left-column1 {
    margin-right: 50px;
    padding-right: 50px;
    margin-left: 50px;
    border-right: 1px solid lightgray;
}

/*Testo sopra foto grande*/
.testoupbigarticle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #c40800;
    justify-content: left;
}

/*Testo sotto foto grande*/
.testobottombigarticle {
    font-size: 20px;
    margin-bottom: 20px;
    color: #575757;
    justify-content: left;
}

/*testo sotto foto piccole*/
.testosmallarticle {
    font-size: 20px;
    font-weight: bold;
    margin-top:10px;
    justify-content: left;
}
/*Colonna destra in sezione a 3 grande*/
.right-column1 {
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
}

/* Foto1 per articoli piccoli nella sezione a tre articoli grande*/
.small_article0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
/* Foto2 per articoli piccoli nella sezione a tre articoli grande*/
.small_article1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    border-top: 1px solid lightgray;
}




