* {
    margin: 0;
    padding: 0;
}

/* Colonne a destra */
.right-column {
    width: 30%;
}
/* Ogni sezione della colonna di destra delimitata dal bordo */
.right-column section {
    border: 1px solid lightgray;
    margin-bottom: 10%;
    font-weight: bold;
    width: 100%;
}
/* Foto piccole colonna di destra */
.fotopiccoladx {
    width: 90%;
}
/* Section pubblicità colonna di destra */
#pubblicita_colonna_destra {
    width: 100%;
}
/* Immagine pubblicità colonna di destra */
#pubblicitadestra{
    width: 100%;
    border: 1px solid black;
}

/* Scriita Trending Now e post Wanted*/
span {
    background-color: white;
    color: black;
    display: flex;
    text-align: left;
    padding-left: 5%;
    font-weight: bold;
    margin-top: 5%;
    font-size: 25px;
    font-style: italic;
}


/* Testo articoli piccoli colonna di destra */
main div section article {
    padding-left: 30px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    justify-content: center;
}
/*Linea rossa sotto trending now*/
.fotosottotrendingnow {
    width: 60%;
    margin-bottom: 5%;
}

/*Sezione che comprende i loghi social*/
.social-icons {
    margin-top: 30px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin-bottom: 30px;
}
/*Testo nella sezione loghi social*/
.social-icons p {
    margin-inline: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #c40800;
    padding-right: 10px;
}

.social-icons a {
    margin-right: 5px;

}
/*Foto nella sezione loghi social*/
.social-icons img {
    width: 30px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}
/*Ingrandimento immagini nella sezione loghi social*/
.social-icons img:hover {
    transform: scale(1.2);
}
